* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 3.1rem;
}
p {
  font-size: 1.7rem;
}

/* navbar */
nav,
.navbar-brand{
  font-size:1.7rem;
}

.nav-item{
  text-align: center;
}

/* footer */
.social-media {
  display: flex;
  justify-content: center;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.social-media a {
  width: 2.5rem;
  margin-right: 2rem;
}

.social-media img {
  width: 100%;
}
footer .copyright p,
footer .author p,
footer .corporation-number p{
  font-size: 1rem;
}

.copyright {
  text-align: center;
}

.author {
  text-align: center;
}

.corporation-number {
  text-align: center;
  font-weight: lighter;
}

.home {
  /* padding:1rem; */
}

/* index.html */

section.home {
  width: 80%;
  margin: 0 auto;
}
