* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

h1 {
  font-size: 3.1rem;
  padding-top:3rem;
  text-align: center;
}

h2 {
  font-size: 2.3rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-family: "Open Sans", sans-serif, "sans-serif";
  font-size: 1.55rem;
  font-weight: 500;
}

/* navbar */
nav,
.navbar-brand {
  font-size: 1.7rem;
}

.nav-item {
  text-align: center;
}

/* footer */
.social-media {
  display: flex;
  justify-content: center;
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.social-media a {
  width: 2.5rem;
  margin-right: 2rem;
}

.social-media img {
  width: 100%;
}

footer .copyright p,
footer .author p,
footer .corporation-number p {
  font-size: 1rem;
}

.copyright {
  text-align: center;
}

.author {
  text-align: center;
}

.corporation-number {
  padding-top: 3rem;
}

.home {
  /* padding:1rem; */
}

/* index.html */

section.home,
section.about,
section.news,
section.contact {
  width: 85%;
  margin: 0 auto;
  /* border: 1px solid red; */
}

.heading,
.news-intro {
  padding-bottom: 5rem;
  border-bottom: 3px solid #e8e8e8;
}

.intro h1 {
  font-family: "Oleo Script", cursive, serif;
  font-weight: 700;
  letter-spacing: 4px;
}

a.page-link,
button.page-link {
  border: 2px solid #256eff;
  font-size: 1.3rem;
  display: inline-block;
  text-decoration: none;
  padding: 1rem 2.5rem;
  border-radius: 0.5rem;
  font-weight: bold;
  letter-spacing: 0.2rem;
  transition: 0.3s ease-in-out;
  margin-top: 3rem;
}

a.page-link:hover,
button.page-link {
  background-color: antiquewhite;
  color: black;
  transform: translateY(-3px);
  font-size: 1.32rem;
  padding: 1.02rem 2.52rem;
}

.intro-image,
.news-intro-image,
.about-image,
.news-image{
  padding-top: 3rem;
}

.intro-image img,
.news-intro-image img,
.about-image img,
.news-image img {
  width: 100%;
  /* height: auto; */
  border-radius: 0.5rem;
}

.heading,
.news-intro,
.stand
 {
  padding-top: 3rem;
}

.news-intro h2,
.stand h2 {
  display: inline-block;
  border-bottom: 3px solid #256eff;
  padding-bottom: 1.5rem;
  padding-right: 2rem;
}

.news-intro h3 {
  padding-top: 3rem;
}

.intro p, /** index.html **/
.news-intro p, /** index.html **/
.stand p, /** index.html **/
.about p, /** about.html **/
.news p,/** news.html **/
.contact p /** contact.html **/{
  padding-top: 2rem;
  line-height: 2.5rem;
}

.stand span,
.about span,
.news span {
  display: block;
  padding-top: 3rem;
}

/* contact.html */
.contact h3{
  padding-top:3rem;
}

.contact li{
 list-style: none;
 font-size: 1.55rem;
 padding-bottom:2rem;
 padding-top:2rem;
 border-bottom:  3px solid #e8e8e8;

}
.contact h2{
  padding-top:3rem;
}

.contact i{
  color:#256eff;
  
}

.contact li span{
  display: inline-block;
  padding-left: .5rem;
}

/* contact.html contact form */
.contact label,
.contact input{
  display: block;
}

.contact label{
  font-size: 1.8rem;
  margin-top:1rem;
}

.contact input,
.contact .message{
  font-size: 1.4rem;
  margin-top: 1rem;
  width: 100%;
  padding: 0.8rem .9rem;
  border-radius: 0.5rem;
}





