---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <section class="about">
    <h1 class="scroll">ABOUT</h1>

    <div class="about-image">
      <img src="/images/placeholder/pic11.jpg" alt="about" class="scroll" />
    </div>

    <p>
      <span class="scroll">
        Greetings! I am Charlene Cottle, and I welcome you to the heart and soul
        of the Charlene Cottle Foundation. Born in Trinidad and Tobago, my
        journey has woven through the vibrant tapestry of Canada for the past 50
        years. Life has gifted me with diverse experiences, including navigating
        the challenges of eye and dental health.
      </span>

      <span class="scroll">
        Having personally grappled with these issues, I recognized the profound
        impact they can have on one's life. It sparked a relentless commitment
        within me to create change and provide hope for others facing similar
        struggles. Thus, the foundation was born, driven by a deep sense of
        empathy and a belief in the transformative power of accessible
        healthcare.
      </span>

      <span class="scroll">
        My time in both Trinidad and Canada has instilled in me the values of
        community and inclusivity. These principles guide the foundation's
        mission to reach underserved communities, ensuring that everyone,
        regardless of their background or circumstances, has access to quality
        eye and dental care.
      </span>

      <span class="scroll">
        As we embark on this journey together, let us stand united in the
        pursuit of a world where no one is left in the shadows of preventable
        health issues. Join me in the vision of a future where individuals can
        see clearly, smile confidently, and embrace life without the burden of
        unmet healthcare needs.
      </span>
    </p>
  </section>
</MainLayout>
