---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
<section class="home">

  <div class="heading">
    <h1>Charlene Cottle World Foundation</h1>
  </div>



</section>
</MainLayout>
