---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <section class="news">
    <h1 class="scroll">NEWS</h1>

    <div class="news-image">
      <img src="/images/placeholder/pic11.jpg" alt="" class="scroll" />
    </div>

    <p>

      <span class="scroll">
   
    </span>

    <span class="scroll">
    
      
      </span>
      
      <span class="scroll">
        Charlene Cottle World Foundation incorporated on 15th July 2023.
        </span>
    </p>
  </section>
</MainLayout>
