---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <section class="photos">


    
    <div class="gallery">

      <a href="/images/photos/1.jpg" data-lightbox="gallery">
        <img src="/images/photos/1.jpg" alt="" class="scroll">
      </a>

      <a href="/images/photos/2.jpg" data-lightbox="gallery">
        <img src="/images/photos/2.jpg" alt="" class="scroll">
      </a>
  

      <a href="/images/photos/3.jpg" data-lightbox="gallery">
        <img src="/images/photos/3.jpg" alt="" class="scroll">
      </a>

      <a href="/images/photos/4.jpg" data-lightbox="gallery">
        <img src="/images/photos/4.jpg" alt="" class="scroll">
      </a>


      <a href="/images/photos/5.jpg" data-lightbox="gallery">
        <img src="/images/photos/5.jpg" alt="" class="scroll">
      </a>

      <a href="/images/photos/6.jpg" data-lightbox="gallery">
        <img src="/images/photos/6.jpg" alt="" class="scroll">
      </a>


      <a href="/images/photos/7.jpg" data-lightbox="gallery">
        <img src="/images/photos/7.jpg" alt="" class="scroll">
      </a>

      <a href="/images/photos/8.jpg" data-lightbox="gallery">
        <img src="/images/photos/8.jpg" alt="" class="scroll">
      </a>

      <a href="/images/photos/9.jpg" data-lightbox="gallery">
        <img src="/images/photos/9.jpg" alt="" class="scroll">
      </a>
    </div>

    <!-- 

      lightbox powered by: https://lokeshdhakar.com/projects/lightbox2/#getting-started
     -->
 

  </section>

 
</MainLayout>
