---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <section class="submit">
    <h1>Form Submitted</h1>
    <div class="thumbs">
      <i class="fa-regular fa-thumbs-up"></i>
    </div>
    <p>Thank you!</p>
    <p>
      The form has been submitted successfully.We will get in contact with you
      soon
    </p>

    <p>
      Click <a href="https://nonprofitcharlenecottle.netlify.app/">HERE</a> to back
      to charlenecottle.com
    </p>
  </section>
</MainLayout>
