<!doctype html>
<html lang="en-us">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />


      <!-- font awesome -->

      <script
      src="https://kit.fontawesome.com/493b3e3710.js"
      crossorigin="anonymous"></script>
    <title>Submitted</title>

    <!--Additional elements for browsers and robots go here goes here-->
  </head>

  <style>

  </style>

  <body>
    <main>
      <section class="submit">
        <h1>Form Submitted</h1>
        <div class="thumbs">
          <i class="fa-regular fa-thumbs-up"></i>
        </div>
        <p>Thank you!</p>
        <p>
          The form has been submitted successfully.We will get in contact with
          you soon
        </p>

        <p>
          Click <a href="https://nonprofitcharlenecottle.netlify.app/">HERE</a> to
          back to charlenecottle.com
        </p>
      </section>
    </main>
  </body>
</html>
