---

import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import Scripts from "../components/Scripts.astro";

---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <Header />
  </head>

  <body>
    <main>
      <section class="submit">
        <h1>Form Submitted</h1>
        <div class="thumbs">
          <i class="fa-regular fa-thumbs-up"></i>
        </div>
        <p>Thank you!</p>
        <p>
          The form has been submitted successfully.We will get in contact with
          you soon
        </p>

        <p>
          Click <a href="https://charlenecottle.com">HERE</a> to
          back to charlenecottle.com
        </p>
      </section>
    </main>

    <a href="#" class="top">&#x2191;</a>

    <Footer/>
    <Scripts/>
  
  </body>
</html>
