---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <section class="support">

    <h1 class="scroll">Want to Support Us?</h1>


    <section>

 
    <div>
      <i class="fa-solid fa-globe scroll"></i>
      <h2 class="scroll">ONLINE</h2>
      <p class="scroll">Donate via Paypal</p>
      <button class="page-link scroll">Donate</button>

    </div>

    <div>
      <i class="fa-solid fa-envelope scroll"></i>
      <h2 class="scroll">EMAIL</h2>
      <p class="scroll">Donate via Interac e-Transfer</p>
      <p class="sroll">xxxxxx@gmail.com</p>
    </div>

  

    <div>
      <i class="fa-solid fa-phone scroll"></i>
      <h2 class="scroll">TELEPHONE</h2>
      <p class="scroll">Want more information? Call us at:</p>
      <p class="scroll">xxxx-xxxxx</p>
    </div>

  </section>

  </section>
</MainLayout>
