---
import MainLayout from "../layouts/MainLayout.astro";
---

<MainLayout>
  <section class="support">

    <h1>Want to Support Us?</h1>


    <section>

 
    <div>
      <i class="fa-solid fa-globe"></i>
      <h2>ONLINE</h2>
      <p>Donate via Paypal</p>
      <button class="page-link">Donate</button>

    </div>

    <div>
      <i class="fa-solid fa-envelope"></i>
      <h2>EMAIL</h2>
      <p>Donate via Interac e-Transfer</p>
      <p>xxxxxx@gmail.com</p>
    </div>

  

    <div>
      <i class="fa-solid fa-phone"></i>
      <h2>TELEPHONE</h2>
      <p>Want more information? Call us at:</p>
      <p>xxxx-xxxxx</p>
    </div>

  </section>

  </section>
</MainLayout>
