<footer>
      <div class="social-media">
        <a href="#" target="_blank">
          <i class="fa-brands fa-facebook-f fa-3x" style="color: #316ff6;"></i>
        </a>

        <a href="#" target="_blank">
          <i class="fa-brands fa-instagram fa-3x" style="color: #fd244c;"></i>
        </a>
      </div>

      <div class="copyright">
        <p>Copyright © All rights reserved.</p>
      </div>

      <div class="author">
        <p>
          Made by <a href="https://cheyennepiper.com/" target="_blank"
            >Cheyenne Piper</a
          >
        </p>
      </div>

      <div class="corporation-number">
        <p>Corporation Number :15186137</p>
      </div>
    </footer>

  