---
import Navigation from "./Navigation.astro";
import Footer from "./Footer.astro";
import Header from "./Header.astro";
---

<!doctype html>
<html lang="en">
  <Header />

  <body>
    <Navigation />

    <main>
      <slot />
    </main>

    <a href="#" class="top">&#x2191;</a>

    <Footer />

    <script src="src/js/lightbox-plus-jquery.js" is:inline></script>

    <script>
      lightbox.option({
        alwaysShowNavOnTouchDevices: true,

        disableScrolling: true,
        wrapAround: true,
      });
    </script>

    <script src="src/js/app.js" is:inline></script>
  </body>
</html>
