---
import Navigation from "./Navigation.astro";
import Footer from "./Footer.astro";
import Header from "./Header.astro";
import Scripts from "./Scripts.astro";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <Header />
  </head>

  <body>
    <Navigation />

    <main>
      <slot />
    </main>

    <a href="#" class="top">&#x2191;</a>

    <Footer />
    <Scripts />
  </body>
</html>
